@{
    ViewBag.Title = "Panel";
    if (ViewBag.IsAjaxRequest == true)
    {
        Layout = null;
    }
}


<div class="page">
    <div class="page-region">
        <div class="page-region-content">
            <h1>
                <a href="#" data-title="Panel" class="history-back"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
                Panel
            </h1>

            <div class="example">

                <div class="grid fluid">
                    <div class="row">
                        <div class="span4">
                            <h3>Default</h3>
                            <div class="panel">
                                <div class="panel-header">
                                    Lorem Ipsum
                           
                                </div>
                                <div class="panel-content">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                           
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <h3>Custom color</h3>
                            <div class="panel">
                                <div class="panel-header bg-lightBlue fg-white">
                                    Lorem Ipsum
                           
                                </div>
                                <div class="panel-content">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                           
                                </div>
                            </div>
                        </div>

                        <div class="span4">
                            <h3>Collapsible</h3>
                            <div class="panel" data-role="panel">
                                <div class="panel-header bg-darkRed fg-white">
                                    Lorem Ipsum
                           
                                </div>
                                <div class="panel-content">
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                           
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <pre class="prettyprint linenums">
Default
&lt;div class="panel"&gt;
    &lt;div class="panel-header"&gt;
        ...
    &lt;/div&gt;
    &lt;div class="panel-content"&gt;
        ...
    &lt;/div&gt;
&lt;/div&gt;

Colorize
&lt;div class="panel"&gt;
    &lt;div class="panel-header bg-lightBlue fg-white"&gt;
        ...
    &lt;/div&gt;
    &lt;div class="panel-content"&gt;
        ...
    &lt;/div&gt;
&lt;/div&gt;

Collapsible
&lt;div class="panel" data-role="panel"&gt;
    &lt;div class="panel-header"&gt;
        ...
    &lt;/div&gt;
    &lt;div class="panel-content"&gt;
        ...
    &lt;/div&gt;
&lt;/div&gt;
</pre>

        </div>
    </div>
</div>


<script src="~/Scripts/App_Scripts/BackButton.js"></script>
<script src="~/Scripts/metro-ui/metro-panel.js"></script>
