@{
    ViewBag.Title = "Buttons";   
}


<div class="container">

    <h1>
        <a href="#" data-title="Buttons" class="history-back"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
        Buttons
    </h1>

    <h2 id="_breadcrumbs"><i class="icon-accessibility on-left"></i>Breadcrumbs</h2>
    <div class="example">
        <nav class="breadcrumbs">
            <ul>
                <li><a href="#"><i class="icon-home"></i></a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active"><a href="#">Data</a></li>
            </ul>
        </nav>
        <nav class="breadcrumbs small">
            <ul>
                <li><a href="#"><i class="icon-home"></i></a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active"><a href="#">Data</a></li>
            </ul>
        </nav>
        <nav class="breadcrumbs mini">
            <ul>
                <li><a href="#"><i class="icon-home"></i></a></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active"><a href="#">Data</a></li>
            </ul>
        </nav>
    </div>
    <pre class="prettyprint linenums">
&lt;nav class="breadcrumbs"&gt;
    &lt;ul&gt;
        &lt;li&gt;&lt;a href="#"&gt;Home&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Library&lt;/a&gt;&lt;/li&gt;
        &lt;li class="active"&gt;&lt;a href="#"&gt;Data&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/nav&gt;

&lt;nav class="breadcrumbs small"&gt;...&lt;/nav&gt;
&lt;nav class="breadcrumbs mini"&gt;...&lt;/nav&gt;

</pre>
</div>

<script src="~/Scripts/App_Scripts/BackButton.js"></script>
