@{
    ViewBag.Title = "Navigation Bar";
    if (ViewBag.IsAjaxRequest == true)
    {
        Layout = null;
    }
}


<div class="page">
    <div class="page-region">
        <div class="page-region-content">
            <h1>
                <a href="#" data-title="Navigation Bar" class="history-back"><i class="icon-arrow-left-3 fg-darker smaller"></i></a>
                Navigation Bar
            </h1>

            <p class="description">Please refer to the Navigation Bar put together in this application.</p>

        </div>
    </div>
</div>

<script src="~/Scripts/App_Scripts/BackButton.js"></script>
